{% load staticfiles i18n %}
{% load static  %}
<!DOCTYPE html>
<html lang="es" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>{% block title %}Jaguares{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
    <meta name="author" content="Jaguares">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet">
    
    {% endblock %}

    {% block angular %}
    {% endblock %}

  </head>

  <body>
    {% block body_head %}
    {% endblock %}
    {% block container %}
    <div class="container">
      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block contenido %}
         
       
      {% endblock contenido %}
    </div>
    {% endblock %}
    {% block modal %}{% endblock modal %}

    {% block javascript %}
      <script src="{% static 'js/jquery.js' %}"> </script>
      <script src="{% static 'js/bootstrap.js'  %}"></script>
      <script src="{% static 'js/validator.js'  %}"></script>
      <script> 
       $( "form" ).submit(function( event ) {
           $(this).find('input,textarea,select').focusout();
           if($(this).find('.has-error').length != 0) {
               return false;
           }
           
       });

      </script>
    {% endblock javascript %}
  </body>
</html>
