{% extends "base.html" %}
{% load static %}

{% block title %}Proyecto: {{ object.nombre }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.nombre }}</h2>
      {% if object.descripción %}
        <p>{{ object.descripción }}</p>
      {% endif %}
    </div>
  </div>

<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12 ">
    <a class="btn btn-primary" href="{% url 'proyecto:update' %}">Edit...</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->


</div>
{% endblock content %}

