{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}Proyectos{% endblock %}

{% block content %}

<div class="container">

    <h2>Proyectos</h2>

    <div class="list-group">
        {% for proyecto in proyecto_list %}
          <a href="{% url 'proyecto:detail' proyecto.nombre %}" class="list-group-item">
            <h4 class="list-group-item-heading">{{ proyecto.nombre }}</h4>
          </a>
        {% endfor %}

    </div>

{% endblock content %}

