{% extends "bootstrap.html" %}
{% load static %}
{% load i18n %}
{% block title %} Tablero Scrum {% endblock %}

{% block contenido %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">{{ proyecto.nombre }}</div>
            <div class="panel-body"> {{ proyecto.descripción }} </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">{{ sprint.nombre }}</div>
            <div class="panel-body"> {{ sprint.descripción }}
            
            </div>
        </div>
    </div>
</div> 
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Sprint Backlog</div>
            <div class="panel-body">
            {% for hus in sprint.historiausuariosprint_set.all %}
                <div class="alert alert-success" role="alert"> 
                    <strong>{{ hus.historiaUsuario.titulo  }}</strong> <br>
                    {{ hus.historiaUsuario.descripción }} <br>
                    Prioridad : {{ hus.historiaUsuario.prioridad  }}
                    <br>
                    <button type="button" class="btn btn-success btn-sm" data-toggle="collapse" data-target="#historiausuario-{{ hus.historiaUsuario.id }}"> 
                        <span class="glyphicon glyphicon-plus"> </span>
                    </button> 
                    <div id="historiausuario-{{ hus.historiaUsuario.id }}" class="collapse">
                                          
      <form action="" method="post" >
      {% csrf_token %} 
      <input type="hidden" name="hu_id" value="{{ hus.historiaUsuario.id }}">
      <label> Nombre:  </label>
      <input class="form-control" type="text" name="tarea_nombre">
      <label> Descripcion </label>
      <textarea class="form-control" name="tarea_descripcion"> </textarea>
      <br> 
      <button type="submit" class="btn btn-success"> Registrar  </button>
      </form>  


                    </div>  
                </div>
            {% endfor %}    
            </div>
        </div>
    </div>
    {% for estado in estados %}
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">{{ estado.nombre }}</div>
        <div class="panel panel-body">
            {% for hus in sprint.historiausuariosprint_set.all %} 
                {% for tarea in hus.historiaUsuario.tarea_set.all %}
                    {% if tarea.estado == estado %}
            <div class="alert alert-info">
               <strong>{{ tarea.titulo }} </strong>
               <p> {{ tarea.descripción }}</p>
<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#tarea-edit-{{ tarea.id  }}">
<span class="glyphicon glyphicon-edit">
</button>
  <div id="tarea-edit-{{ tarea.id }}" class="collapse">
      <form action="" method="post" >
      {% csrf_token %} 
      <input type="hidden" name="tarea_id" value="{{ tarea.id }}">
      <label> Estado </label>
      <select class="form-control" name="tarea_estado">
          {% for est in estados  %}
          <option value="{{ est.id }}">{{ est.nombre  }} </option>
          {% endfor %}
      </select><br>
      <button type="submit" class="btn btn-primary"> Registrar  </button>
      </form>  
  </div>
            </div>
                    {% endif %}
                {% endfor %}
            {% endfor  %}            
        </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock  %}

