{% extends "bootstrap.html" %}
{% load static %}
{% load i18n %}
{% block title %} Tablero Scrum {% endblock %}

{% block contenido %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">{{ proyecto.nombre }}</div>
            <div class="panel-body"> {{ proyecto.descripción }} </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Sprint {{ sprint.nombre }}</h4></div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12 col-md-8">
                <h4>Descripcion: {{ sprint.descripción }}</h4>
                </div>
                <div class="col-xs-6 col-md-4">
                <h4>Inicio: {{ sprint.inicio }}</h4>
                <h4>Fin: {{ sprint.fin }}</h4>
                <h4>Estado del sprint: 
                {% if sprint.finalizado  %}
                    <span class="label label-danger">Finalizado</span>
                {% else  %}
                    <span class="label label-success">En progreso</span>
                {% endif  %}
                </h4>
                </div>
              </div>
            </div>
        </div>
    </div>
</div> 
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-success">
            <div class="panel-heading">Sprint Backlog</div>
            <div class="panel-body">
            {% for hus in sprint.historiausuariosprint_set.all %}
                <div class="alert alert-success" role="alert"> 
                    <strong>{{ hus.historiaUsuario.titulo  }}</strong> 
                    {% if hus.historiaUsuario.estaTerminado %}
                    <span style="float:right" class="label label-success"> TERMINADO </span>
                    {% else %}
                    <span style="float:right" class="label label-warning"> EN PROGRESO </span>
                    {% endif %}
                    <br>
                    {{ hus.historiaUsuario.descripción }} <br>
                    <br>
                    <button type="button" class="btn btn-success btn-sm" data-toggle="collapse" data-target="#historiausuario-crear-{{ hus.historiaUsuario.id }}"> 
                        <span class="glyphicon glyphicon-plus"> </span>
                    </button> 
                    <button type="button" class="btn btn-success btn-sm" data-toggle="collapse" data-target="#historiausuario-mostrar-{{ hus.historiaUsuario.id }}"> 
                        <span class="glyphicon glyphicon-eye-open"> </span>
                    </button> 
                    <div id="historiausuario-mostrar-{{ hus.historiaUsuario.id }}" class="collapse">
                    <h4 class="text-center"><strong>Mas Informacion</strong></h4>
                    Prioridad : {{ hus.historiaUsuario.prioridad  }} <br>
                    Tiempo Estimado : {{ hus.historiaUsuario.tiempoEstimado  }} <br>
                    <h4> Criterios de Aceptacion</h4>
                    <ul class="list-group"> 
                        {% for criterio in hus.historiaUsuario.criterioaceptacion_set.all  %}
                        <li class="list-group-item"> {{ criterio.descripción }}</li>
                        {% endfor %}
                    </ul>
                    </div>
                    <div id="historiausuario-crear-{{ hus.historiaUsuario.id }}" class="collapse">
                                          
                    <h4 class="text-center"><strong> Crear Tarea</strong></h4>
      <form action="" method="post" role="form" data-toggle="validator" novalidate="true" >
      {% csrf_token %} 
      <input type="hidden" name="action" value="tarea_crear">
      <input type="hidden" name="hu_id" value="{{ hus.historiaUsuario.id }}">
      <div class="form-group has-feedback">
          <label for="tarea_nombre" class="control-label"  > Nombre  </label>
          <input class="form-control" type="text" id="tarea_nombre" name="tarea_nombre" required placeholder="Nombre de la tarea">
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      </div>
      <div class="form-group has-feedback">
          <label for="tarea_descripcion" class="control-label"> Descripcion </label>
          <textarea class="form-control" id="tarea_descripcion" name="tarea_descripcion" required placeholder="Descripcion de la Tarea"></textarea>
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      </div>
      <div class="form-group">
          <button type="submit" class="btn btn-success"> OK  </button>
      </div> 

      </form>  


                    </div>  
                </div>
            {% endfor %}    
            </div>
        </div>
    </div>
    {% for estado in estados %}
    <div class="col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">{{ estado.nombre }}</div>
        <div class="panel panel-body">
            {% for hus in sprint.historiausuariosprint_set.all %} 
                {% for tarea in hus.historiaUsuario.tarea_set.all %}
                    {% if tarea.estado == estado %}
            <div class="alert alert-info">
               <strong>{{ tarea.titulo }} </strong> 
               <span style="float:right" class="label label-primary"> {{ tarea.historiaUs.titulo }} </span>
               <span style="float:right" class="label label-info"> {% if tarea.miembro.persona.username %} {{ tarea.miembro.persona.username }} {% else %} SR{% endif %} </span>
               <p> {{ tarea.descripción }}</p>
<button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#tarea-edit-{{ tarea.id  }}">
<span class="glyphicon glyphicon-edit">
</button>
  <div id="tarea-edit-{{ tarea.id }}" class="collapse">
      <form action="" method="post" role="form" data-toggle="validator">
      {% csrf_token %} 
      <input type="hidden" name="tarea_id" value="{{ tarea.id }}">
      <div class="form-group has-feedback">
          <label for="tarea_nombre" class="control-label"  > Nombre  </label>
          <input class="form-control" type="text" id="tarea_nombre" value="{{ tarea.titulo }}" name="tarea_nombre" required placeholder="Nombre de la tarea">
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      </div>
      <div class="form-group has-feedback">
          <label for="tarea_descripcion" class="control-label"> Descripcion </label>
          <textarea class="form-control" id="tarea_descripcion" name="tarea_descripcion" required placeholder="Descripcion de la Tarea">{{ tarea.descripción }}</textarea>
          <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
      </div>
      <div class="form-group">
          <label> Estado </label>
          <select class="form-control" name="tarea_estado">
              {% for est in estados  %}
              <option value="{{ est.id }}" {% if est.nombre == estado.nombre  %} selected {% endif  %} >{{ est.nombre  }} </option>
              {% endfor %}
          </select>
      </div>
      <div class="form-group">
          <label> Responsable </label>
          <select class="form-control" name="tarea_miembro">
              <option value="0" > Sin Responsable </option>
              {% for miembro in proyecto.miembro_set.all %}
              <option value="{{ miembro.id }}" {% if tarea.miembro.persona.username == miembro.persona.username %} selected {% endif %} > {{ miembro.persona.username  }} </option>
              {% endfor %}
          </select>
      </div>
      <div class="form-group">
          <button type="submit" class="btn btn-primary"> OK  </button>
      </div>
      </form>  
  </div>
            </div>
                    {% endif %}
                {% endfor %}
            {% endfor  %}            
        </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock  %}


